* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  width: 100%;
  min-height: 100vh;
  background: #1e1e1e;

  display: flex;
  justify-content: center;
  align-items: center;
}

.page__cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;

  transform-style: preserve-3d;
  transform: perspective(1000px);
}

.page__cards__card {
  filter: brightness(0);
  transition: 0.5s;
}

.page__cards__card:hover {
  filter: brightness(1);
  transform: translateZ(200px);
}

.page__cards__card:hover + * {
  filter: brightness(0.6);
  transform: translateZ(150px) rotateY(40deg);
}

.page__cards__card:hover + * + * {
  filter: brightness(0.4);
  transform: translateZ(70px) rotateY(20deg);
}

.page__cards__card:hover + * + * + * {
  filter: brightness(0.2);
  transform: translateZ(30px) rotateY(10deg);
}

.page__cards__card:has(+ *:hover) {
  filter: brightness(0.6);
  transform: translateZ(150px) rotateY(-40deg);
}

.page__cards__card:has(+ * + *:hover) {
  filter: brightness(0.4);
  transform: translateZ(70px) rotateY(-20deg);
}

.page__cards__card:has(+ * + * + *:hover) {
  filter: brightness(0.2);
  transform: translateZ(30px) rotateY(-10deg);
}

.page__cards__card__image {
  width: 100px;
  height: 160px;
  object-fit: cover;
}